body{
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.sacola{
	background: url(../image/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;

	position: absolute;
	top: 15px;
	right: 0;

}
.menu-opcoes ul{
	font-size: 15px;
	
}
.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}
.menu-opcoes a{
	color: #003366;
	text-decoration: none;
}
.menu-opcoes a:before{
	content: '[';

}
.menu-opcoes a:after{
	content:  ']';
}
.menu-opcoes a:hover{
	color: red;
}
.container{
	margin: 0 auto;
	width: 940px;
}
.container h1 img{
	width: 200px;
	height: 100px;
}
.menu-opcoes{
	position: absolute;
	bottom: 0;
	right: 0;
}
.lupa img{
	width: 100px;
}
.busca, 
.menu-departamentos {
	float: left;
}

.menu-departamentos {
	clear: left;
	text-transform: uppercase;
	background-color: #dcdcdc;
	font-weight: bold;

	margin-right: 10px;
	width: 230px;
}
.busca h2,
.busca form,
.menu-departamentos h2{
	margin: 10px;
}
.busca h2{
	text-shadow: 5px 5px 8px red;
	
}

.menu-departamentos li{
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}
.menu-departamentos a{
	color: #333333;
	text-decoration: none;
}
.busca input {
	vertical-align: middle;
	
}
.busca h2:first-letter {
	font-size: 200%;
}
.busca h2{
	position: relative;
	right: 0;
}
.busca h2:hover{
	right:30px;
	color: red;
	transition: right 2s, color 1s ease;
}

.busca input[type=search] {
	width: 170px;
	border-radius: 5px;
}
.busca input[type=search]:hover{
	background-color: red;
}
.busca{
	width: 230px;
	
}
.busca,
.menu-departamentos{
	float: left;
}
.menu-departamentos{
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}
.menu-departamentos nav li ul{
	display: none;

}
.menu-departamentos nav li:hover ul{
	display: block;

}
.menu-departamentos nav ul ul li {
	background-color: #dcdcdc;
}
.menu-departamentos nav li li a:before{
	content: '-';
}
.destaque img{
	width: 700px;
	height: 400px;
	box-shadow: 5px 5px black;
	border-radius: 5px;
}
.destaque {
	margin-top: 5px;
	
	position: relative;
}
.destaque h1{
	font-size: 100px;
	background: rgba(0,0,0,0.3);
	width: 7em;
	right;
	text-align: left;
	float: right;
	transform: translateY(-100px);
	
	color: white;
}
.painel li{
	display: inline-block;
	vertical-align: top;
	width: 130px;
	margin: 2px;
	padding-bottom: 10px;
	padding-left: 10px;
	transition: 0.7s;
	transition: 0.7s ease-out;
}
.painel li:hover{
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 5px #333;
	transform: scale(1.1) rotate(-3deg);
	transition: 0.7s ease-in;
}
.painel li:nth-child(2n):hover{
	transform: scale(1.1) rotate(3deg);
	transition: 0.7s ease-in;
}
.painel{
	margin: 10px 0;
	padding: 10px;
	width: 445px;
	box-shadow: 2px 2px 5px black;
}
.painel button{
	display: none;
}
.painel-compacto li:nth-child(n+7){
	display: none;
}
.painel-compacto button{
	display: block;
}
.novidades {
	float: left;
	background-color: #f5dcdc;
	background: linear-gradient(#f5dcdc, #bebef4);
	color: black;
	border-radius: 10px;
}
.mais-vendidos{
	float: right;
	background-color: #dcdcf5;
	background: linear-gradient(#dcdcf5, #f4bebe);
	color: black;
	border-radius: 10px;
}

.painel h2{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-shadow: 2px 2px gray;
}
.painel a{
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

header{
	position: relative;

}
footer{
	background-image: url(../image/footer.jpg);
	clear: both;
	padding: 20px 0;
}
footer img{
	width: 150px;
	height: 80px;
}
footer .container {
	position: relative;
}
.social a{
	width: 32px;
	height: 32px;

	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../image/face.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../image/twitter.png);
}

.social a[href*="google.com"] {
	background-image: url(../image/google.png);
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}
.social li{
	float: left;
	margin-left: 25px;
}
h2 + p{
	background-color: yellow;
}
form img{
	width: 250px;
	height: 250px;
}

.pause,
.play{
	display: block;
	position: absolute;
	right: 15px;
	top: 15px;
}
.pause{
	border-left: 10px solid #900;
	border-right: 10px solid #900;
	height: 30px;
	width: 5px;
}
.play{
	border-left: 25px solid #900;
	border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;
}
/* posicionamento botao */
.painel button{
	float:right;
	margin-right: 10px;
	padding: 10px;

/* estilo */
background-color: #333;
border: 0;
border-radius: 4px;
box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.5);
color: white;
font-size: 1em;
text-decoration: none;
text-shadow: 1px 0 1px black;
position: relative;
margin-bottom: 10px;

/* animacao */
transition: 0.3s;
}

.painel button:hover{
	background-color: #393939;
	box-shadow: 1px 0 20px rgba(200, 200, 120, 0.9);
}
.painel button:after{
	/* vazio */
	content: '';
	display:block;
	height: 0;
	width: 0;

	/* triangulo */
	border-top: 10px solid #333;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	/*posicionamento */

	position: absolute;
	top: 100%;
	left: 100%;
	margin-left: -20px;

	/* animacao */
	transition: 0.3s;
}
.painel button:hover:after{
	border-top-color: #393939;
}
.tamanhos output{
	display: inline-block;
	height: 44px;
	width: 44px;

	line-height: 44px;
	text-align: center;

	border: 3px solid #666;
	border-radius: 50%;
	color: #555;
}