.container {
	width: 96%;
}
header h1{
	text-align: center;
}
header h1 img{
	max-width: 50%;
}
.sacola{
	display: none;
}
.menu-opcoes{
	position: static;
	text-align: center;
}
.menu-opoes ul li {
	display: inline-block;
	margin: 5px;
}
.busca,
.menu-departamentos,
.destaque img{
	margin-right: 0;
	width: 100%;
}
.destaque h1{
	font-size: 100px;
	background: rgba(0,0,0,0.3);
	width: 4em;
}
.painel{
	width: auto;
}
.painel li{
	width: 30%;
	padding-left: 50px;
}
.painel img{
	width: 100%;
}
@media (win-width: 480px){
	header h1{
		margin: 5px 0;
	}
.menu-departamentos{
	padding-bottom: 10px;
	margin-bottom: 10px;
}	
.menu-departamentos nav > ul{
	column-count: 2;
}
}
@media (min-width: 720px){
	header h1{
		text-align: left;
	}
.menu-opcoes{
	position: absolute;
}
.sacola{
	display: block;
}
.painel li{
	width: 15%;


}
.busca,
.menu-departamentos{
	margin-right: 1%;
	width: 30%;
}
.menu-departamentos nav > ul{
	column-count: 1;
}
.destaque img{
	width: 69%;
}
}