/**
 * Common styles
 */



/* Common styles %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Sizes
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-top,
.header .dropdown { line-height:3em; } /* line-height:36px; */

 
/* Headings
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Block titles
-------------------------------------------------------------- */
/* Sidebar blocks */
.block .block-title,

/* Section title */


/* Cart */
.cart .crosssell h2,
.cart .discount h2,
.cart .shipping h2
{
	padding:15px 10px;
	font-weight:normal;
	font-size:1.3333em; /*16px*/
	line-height:1.25em; /*20px*/
	text-transform:uppercase;
}

/* Section headings
-------------------------------------------------------------- */
.section-title
{
	padding-top:7px;
	padding-bottom:7px;
	border-bottom:1px dashed #ddd;
	font-weight:normal;
	font-size:1.3333em; /*16px*/
	line-height:1.25em; /*20px*/
}

/* Secondary headings
-------------------------------------------------------------- */
/* Log in */
.account-login h2,

/* Checkout log in */
#opc-login h3,

/* Fieldset and multiple checkout */
.fieldset .legend,
.multiple-checkout .col2-set h2.legend,
.info-set h2.legend
{
	font-size:1.5em; /*18px*/
	line-height:1.3333em; /*24px*/
	font-weight:normal;
	text-transform:uppercase;
	border-bottom:1px solid #eee;
	padding-bottom:10px;
}

/* Account headings
-------------------------------------------------------------- */
/* Primary */
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2 {}

/* Secondary */
.dashboard .box .box-title h3,
.dashboard .box .box-title h4,
.order-info-box h2 {}

/* Other headings
-------------------------------------------------------------- */
/* Page title */
.category-title,

/* Account */
.my-account .page-title,
.box-account .box-head,
.dashboard .box .box-title
{
	border-color:#eee;
}



/* Colors %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Borders
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Elements with horizontal border - normal
-------------------------------------------------------------- */
/* CMS */
.section-line,

/* Misc */
.toolbar 
{
	border-color:#eee;
}

/* Elements with horizontal border - lighter
-------------------------------------------------------------- */
.main-top-container,
.footer-top-container,

/* Product page - Add-to-cart area */
.product-view .product-type-data,
.product-view .product-type-data .price-box,
.container1-wrapper,
.container2-wrapper,
.product-view .add-to-box,

/* Product grid/list */
.category-products-grid .item,
.products-list li.item,

/* Pop-ups */
.remember-me-popup h3,
.map-popup-heading
{
	border-color:#f5f5f5;
}

/* Elements with vertical border - normal
-------------------------------------------------------------- */
/* Product page */
.custom-sidebar-right .inner,
.custom-sidebar-left .inner
{
	border-color:#f5f5f5;
}

/* Elements with vertical border - lighter
-------------------------------------------------------------- */
/* Product grid/list */
.products-list .product-shop-inner
{
	border-color:#f5f5f5;
}

/* Elements with darker border
-------------------------------------------------------------- */
/* Cart */
.data-table thead,
.cart-table thead tr,

/* Availability */
.availability-only-details thead
{
	border-color:#ddd; /*Currently the same color as other borders*/
}


/* Text color
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Elements with lighter text
-------------------------------------------------------------- */

/* Product grid/list */
.products-list .ratings,
.products-grid .ratings,
.products-list .ratings a,
.products-grid .ratings a,

/* Layered nav */
.block-layered-nav dd li,

/* Product page */
.block-related-simple .related-add-to-wishlist,
.block-related-thumbnails .related-add-to-wishlist,

/* Availability */
.availability,

/* Reviews */
.product-view .box-reviews dd .date,

/* Product options */
.item-options dd,
.product-options p.note,

/* Prices */
.price-notice .price,

/* MSRP price and old price */
.old-price,
.product-view .price-box .old-price .price,
#map-popup-msrp,
.map-popup-msrp .price
{
	color:#aaa;
}

/* Elements with super light text */
.breadcrumbs li,
.breadcrumbs a { color:#c5c5c5; }


/* Forms
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Product options form colors
-------------------------------------------------------------- */
.product-options dd select,
.product-options dd .input-text,
.product-options dd textarea,
.product-options ul.options-list { color:#888; }
.product-options dd select:hover,
.product-options dd select:focus,
.product-options dd textarea:hover,
.product-options dd textarea:focus,
.product-options ul.options-list:hover { color:#333; }


/* Selected interface icons:
   text color - icons on hover: toolbar icons, pager, prev/next slide etc.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Hover item color */
/* Toolbar */
.sorter .view-mode a:hover,
.sorter .sort-by .category-asc:hover,
.sorter .sort-by .category-desc:hover,
.pager .pages li a:hover,

/* Add-to links */
.add-to-links.addto-icons a:hover,

/* Slider arrows */
.gen-slider-arrows1 .direction-nav a:hover,
.gen-slider-arrows2 .direction-nav a:hover,
.gen-slider-arrows3 .direction-nav a:hover,

/* Lightbox */
#cboxPrevious:hover,
#cboxNext:hover,
#cboxClose:hover,

/* Scroll to top button */
#scroll-to-top:hover
{
	color:#fff; /*Color of text*/
}



/* Fonts %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Price on product page and MSRP
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.product-view .price-box .price,
.map-popup-price .price,
.map-popup-msrp .price { font-family:Verdana, Geneva, sans-serif; }



/* Effects %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Round corners
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.block .block-title,

/* Header */
	.form-search .search-autocomplete ul,

	/* User menu */
	.um-fortis .top-links .links > li > a,
	.um-fortis .dropdown-toggle.cover,

	/* Main menu */
	#mobnav-trigger,
	.vertnav-top,

/* Cart */
.cart fieldset,

/* Product page */
	.pv-top-outline .product-top-wrapper,
	.pv-top-outline .product-top-wrapper2,
	.pv-top-outline .product-top-wrapper3,

	/* Related */
	.block-related .section-title,

/* Checkout */
.opc .step-title,
.opc .step-title .number,

/* Account */
.box-account,
.order-info-box,

/* Forms */
input.input-text, select, textarea,

/* Buttons */
button.button span,

/* Icons */
span.icon,

/* Interface icons */

	/* Toolbar */
	.sorter .view-mode a,
	.sorter .sort-by .category-asc,
	.sorter .sort-by .category-desc,
	.pager .pages li a,

	/* Back link */
	.buttons-set .back-link small,

	/* Slider arrows */
	.direction-nav a,

	/* Lightbox */
	#cboxPrevious,
	#cboxNext,
	#cboxClose,

	/* Accordion and collapsible: opener */
	.accordion-style1 .opener,
	.collapsible .opener,

	/* Scroll to top */
	#scroll-to-top,

/* Other */
.caption .heading,
.caption p,

/* Category labels */
.cat-label
{
	border-radius: 2px;
}

/* Round corners - more
-------------------------------------------------------------- */
.products-grid .product-image img,
.products-list .product-image img,


/* Product page */
.img-box .product-image, /* Product image border */

.img-box .thumbnails a,


/* Overlay */
#cboxContent
{
	border-radius: 5px;
	border: 5px solid #d3d3d3;
}

.img-box .product-image img,.product-image img,
.img-box .thumbnails img,
{
	border-radius: 5px;
}

/* Drop-downs
-------------------------------------------------------------- */
.dropdown-toggle.cover > div { border-radius: 2px 2px 0 0;}
.dropdown-menu.left-hand { border-radius: 2px 0 2px 2px; }
.dropdown-menu.right-hand { border-radius: 0 2px 2px 2px; }

/* Search
-------------------------------------------------------------- */
.form-search .button span { border-radius: 0 2px 2px 0; } /* Right side of the button */


/* Shadows
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Entire header */
.header-container { box-shadow: 0 0 7px rgba(0, 0, 0, 0.04) inset; }

/* Hover + active */
#nav > li:hover  > a,
#nav > li.active > a,
.cms-index-index #nav #nav-home > a {
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05)
}

/* Cat labels (only in main menu) */
#nav li.level0 > a .cat-label {
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

/* Stickers */
.sticker { box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1); }


/* Shadows: for pop-ups, drop-downs etc.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* IE version included */
#nav .level0-wrapper,
#nav.classic .parent > ul,

/* Mini cart */
#mini-cart .block-content,
.truncated .truncated_full_value .item-options,

/* Compare drop-down */
.header .block-compare .block-content,

/* Search autocomplete */
.header .form-search .search-autocomplete ul,

/* Dropdown */
.open > .dropdown-toggle.cover,
.dropdown-menu,

/* Pop-ups and tooltips */
.remember-me-popup,
.map-popup,
.tool-tip,
#subscribe-form .input-box .validation-advice
{
	-moz-box-shadow:	0 2px 5px rgba(0,0,0, 0.15);
	-webkit-box-shadow:	0 2px 5px rgba(0,0,0, 0.15);
	box-shadow:			0 2px 5px rgba(0,0,0, 0.15);
}


/* Transitions
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Product image (and other elements)
-------------------------------------------------------------- */
.product-image img {
	transition:			opacity 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out;
}
.product-image img:hover { opacity:0.85; filter:alpha(opacity=85); }
	/* Remove this transition in product grid. Raplace it with "on item hover" transition. */
	.products-grid .product-image img:hover { opacity:1; border: 5px solid #c01a1b;}

/* Links and other selected elements
-------------------------------------------------------------- */
/* IMPORTANT: link transitions should be placed before other transitions */
a,
#mobnav-trigger .trigger-icon .line,
.accordion .opener /*Main menu accordion*/
{
	transition:			color 450ms ease-in-out, background-color 450ms ease-in-out;
	-moz-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-webkit-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-o-transition:		color 450ms ease-in-out, background-color 450ms ease-in-out;
}
a:hover,
#mobnav-trigger:hover .trigger-icon .line,
.accordion .opener:hover
{
	transition-duration:			100ms;
	-moz-transition-duration:		100ms;
	-webkit-transition-duration:	100ms;
	-o-transition-duration:			100ms;
}

/* Opacity
-------------------------------------------------------------- */
/*
.form-search .button span
{
	transition:			opacity 450ms ease-in-out;
	-moz-transition:	opacity 450ms ease-in-out;
	-webkit-transition:	opacity 450ms ease-in-out;
	-o-transition:		opacity 450ms ease-in-out;
}
.form-search .button:hover span
{
	transition-duration:			100ms;
	-moz-transition-duration:		100ms;
	-webkit-transition-duration:	100ms;
	-o-transition-duration:			100ms;
}
*/
.form-search .button span {
	transition:			opacity 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out;
}

/* Interface icons: toolbar icons, pager, prev/next slide etc.
-------------------------------------------------------------- */
.sorter .view-mode .grid,
.sorter .view-mode .list,
.sorter .sort-by .category-asc,
.sorter .sort-by .category-desc,

/* Back link */
.buttons-set .back-link small,

/* Add-to links */
.add-to-links.addto-icons a,

/* Accordion and collapsible: opener */
.accordion-style1 .opener,
.accordion-style1 .opener:hover, /*Override: .accordion .opener:hover */
.collapsible .opener,

/* Scroll to top */
#scroll-to-top
{
	transition:			background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

/* Carets
-------------------------------------------------------------- */
#nav a.level-top .caret {
	transition:			border-top-color 450ms ease-in-out;
	-moz-transition:	border-top-color 450ms ease-in-out;
	-webkit-transition:	border-top-color 450ms ease-in-out;
	-o-transition:		border-top-color 450ms ease-in-out;
}
#nav > li:hover a.level-top .caret {
	transition-duration:			100ms;
	-moz-transition-duration:		100ms;
	-webkit-transition-duration:	100ms;
	-o-transition-duration:			100ms;
}

/* Elements with animated color, background color and borders
-------------------------------------------------------------- */
/* Forms */
input.input-text, select, textarea,
.product-options ul.options-list,

/* Product image thumbnails */
.product-view .product-img-box .more-views .thumbnails li a,

/* Product mini-lists */
.mini-products-list .product-image,
.cart .crosssell .product-image,

/* Tabs & accordion */
.gen-tabs .tabs a,
.gen-tabs .acctab,

/* OPC accordion */
.opc .step-title,

/* Demo block */
.sample-block
{
	transition:			color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	-moz-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	-webkit-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	-o-transition:		color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

/* Structural elements
-------------------------------------------------------------- */
/* Layered nav */
.block-layered-nav dd li,

/* Grid */
.grid12-1,
.grid12-2,
.grid12-3,
.grid12-4,
.grid12-5,
.grid12-6,
.grid12-7,
.grid12-8,
.grid12-9,
.grid12-10,
.grid12-11,
.grid12-12,
.grid-full,
.grid-col2-sidebar,
.grid-col2-main,

/* Products */
.product-view .product-img-box,

/* Forms */
/*input.input-text, select, textarea,*/ /*TODO: transit. size*/

/* Main menu */
#nav > li,

/* Misc */
.header .logo
{
	transition:			all 300ms ease-in-out;
	-moz-transition:	all 300ms ease-in-out;
	-webkit-transition:	all 300ms ease-in-out;
	-o-transition:		all 300ms ease-in-out;
}


/* Shadow for the main containers
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.shadow .show-bg {
	-moz-box-shadow:	0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:	0 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow:			0 2px 3px rgba(0, 0, 0, 0.1);
}



