/**
 * Infortis Themes
 */



/* Layout %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Basic layout
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.section-container {}
.section { padding:10px 0; }
.section-space { padding:10px; }


/* Helper classes
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Magento default helper classes
-------------------------------------------------------------- */

/* Layout helper classes
-------------------------------------------------------------- */
.margin-top { margin-top:20px; }
.margin-bottom { margin-bottom:20px; }
.padding-top { padding-top:20px; }
.padding-bottom { padding-bottom:20px; }
.float-left { float:left; } /*deprecated*/
.float-right { float:right; } /*deprecated*/



/* Minor components %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Product labels
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Positionning
-------------------------------------------------------------- */
.sticker-wrapper {
	position:absolute;
	transition:			all 150ms ease-in-out;
	-moz-transition:	all 150ms ease-in-out;
	-webkit-transition:	all 150ms ease-in-out;
	-o-transition:		all 150ms ease-in-out;
}
.product-view .sticker-wrapper { z-index:99; /* On product page z-index gteater than Cloud Zoom image */ }

.sticker-wrapper.top-right { top:-3px; right:-3px; }
.sticker-wrapper.bottom-right { bottom:-3px; right:-3px; }
.sticker-wrapper.bottom-left { bottom:-3px; left:-3px; }
.sticker-wrapper.top-left { top:-3px; left:-3px; }

/* Appearence
-------------------------------------------------------------- */
.sticker {
	width:60px;
	height:60px;
	border-radius:50%;
	
	font-size:1.1666em;
	font-weight:bold;
	text-align:center;
	
	display:table-cell;
	vertical-align:middle;

	transition:			all 150ms ease-in-out;
	-moz-transition:	all 150ms ease-in-out;
	-webkit-transition:	all 150ms ease-in-out;
	-o-transition:		all 150ms ease-in-out;
}
.sticker.new {
	background-color:#5BD2EC;
	color:#fff;
}
.sticker.sale {
	background-color:#F12B63;
	color:#fff;
}

/* Effects */
.item:hover .sticker { width:70px; height:70px; }
.item:hover .sticker-wrapper.top-right,
.item:hover .sticker-wrapper.top-left { }
.item:hover .sticker-wrapper.top-right { }
.item:hover .sticker-wrapper.top-left { }

/* Caret
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.caret {
	display:inline-block;
	width:0;
	height:0;
	margin-bottom:2px;
	vertical-align:middle;
	content:"";
	border-style:solid solid none;
	border-width:4px 4px 0;
	border-color:#333 transparent transparent;
}
.dropdown .caret {
	opacity:0.3;
	filter:alpha(opacity=30);
}
.dropdown:hover .caret {
	opacity:1;
	filter:alpha(opacity=100);
}



/* CMS pages and custom content %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Page banners
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.page-banners {}
.page-banners .banner {
	margin-bottom:2%;
}
.page-banners .banner a { display:block; }
.page-banners .banner img {}
.page-banners .banner a img {
	display:block;
	margin:0 auto;
	
	transition:			opacity 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out;
}
.page-banners .banner a:hover img {
	opacity:0.85;
	filter:alpha(opacity=85);
}


/* Landing pages
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.landing-page {}
.horizontal-section,
.vertical-section { display:block; margin-top:0; margin-bottom:10px; position:relative; }
.landing-page .center-block { display:block; margin:0 auto; }

/* Caption
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.caption {
	position:absolute;
	bottom:0;
	width:80%;
	margin:6%;
	padding:0;
}

/* Caption position and layout
-------------------------------------------------------------- */
.caption.top {
	top:0;
	bottom:auto;
	width:80%;
}
.caption.top-right {
	top:0;
	bottom:auto;
	right:0;
	width:58%;
}
.caption.bottom-right {
	right:0;
	width:58%;
}

/* Width */
.caption.full-width { width:88%; margin:6%; }
.caption.narrow{ width:38%; }

/* Floating (text alignment) */
.caption.right * { text-align:right; float:right !important; }

/* Prevent from hiding elements of the caption on narrow screens */
.caption .permanent { display:inherit !important; }

/* Caption elements
-------------------------------------------------------------- */
.caption .heading {
	float:left;
	display:inline-block;
	padding:0.25em;
	margin-bottom:0.2em;
	font-size:2.8em;
	line-height:1em;
	font-weight:normal;
}
.caption p {
	float:left;
	clear:left;
	display:inline-block;
	padding:0.25em 0.5em;
	margin-bottom:1px;
	font-size: 1.3333em;
	line-height:1em;
}
.caption button {
	float:left;
	clear:left;
	margin-top:1em;
}

/* Skin
-------------------------------------------------------------- */
.caption .heading,
.caption p {
	transition:			color 450ms ease-in-out, background-color 450ms ease-in-out;
	-moz-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-webkit-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-o-transition:		color 450ms ease-in-out, background-color 450ms ease-in-out;
}
a:hover .caption .heading,
a:hover .caption p {
	transition:			color 200ms ease-in-out, background-color 200ms ease-in-out;
	-moz-transition:	color 200ms ease-in-out, background-color 200ms ease-in-out;
	-webkit-transition:	color 200ms ease-in-out, background-color 200ms ease-in-out;
	-o-transition:		color 200ms ease-in-out, background-color 200ms ease-in-out;
}

/* Dark + white text */
.caption.dark1 .heading,
.caption.dark1 p { background-color:rgba(0,0,0, 0.35); color:#fff; }
a:hover .caption.dark1 .heading,
a:hover .caption.dark1 p { background-color:rgba(0,0,0, 0.7); color:#fff; }

/* Dark + white text */
.caption.dark2 .heading,
.caption.dark2 p { background-color:rgba(0,0,0, 0.5); color:#fff; }
a:hover .caption.dark2 .heading,
a:hover .caption.dark2 p { background-color:rgba(0,0,0, 0.8); color:#fff; }

/* Dark + white text */
.caption.dark3 .heading,
.caption.dark3 p { background-color:rgba(0,0,0, 0.65); color:#fff; }
a:hover .caption.dark3 .heading,
a:hover .caption.dark3 p { background-color:rgba(0,0,0, 1); color:#fff; }

/* Light + black text */
.caption.light1 .heading,
.caption.light1 p { background-color:rgba(255,255,255, 0.35); color:#000; }
a:hover .caption.light1 .heading,
a:hover .caption.light1 p { background-color:rgba(255,255,255, 0.7); color:#000; }

/* Light + black text */
.caption.light2 .heading,
.caption.light2 p { background-color:rgba(255,255,255, 0.6); color:#000; }
a:hover .caption.light2 .heading,
a:hover .caption.light2 p { background-color:rgba(255,255,255, 0.85); color:#000; }

/* Light + black text */
.caption.light3 .heading,
.caption.light3 p { background-color:rgba(255,255,255, 0.8); color:#000; }
a:hover .caption.light3 .heading,
a:hover .caption.light3 p { background-color:rgba(255,255,255, 1); color:#000; }