/**
 * Override CSS components
 */



/* Dropdown + Icons %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Transitions
-------------------------------------------------------------- */
.dropdown-toggle.cover .feature-icon-hover span.icon
{
	transition:			color 300ms ease-in-out 300ms, background-color 300ms ease-in-out 300ms, background-position 300ms ease-in-out 300ms;
	-moz-transition:	color 300ms ease-in-out 300ms, background-color 300ms ease-in-out 300ms, background-position 300ms ease-in-out 300ms;
	-webkit-transition:	color 300ms ease-in-out 300ms, background-color 300ms ease-in-out 300ms, background-position 300ms ease-in-out 300ms;
	-o-transition:		color 300ms ease-in-out 300ms, background-color 300ms ease-in-out 300ms, background-position 300ms ease-in-out 300ms;
}





/* Tabs %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Tabs - skin fortis
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.gen-tabs-style-f .tabs {
	border-radius: 2px;
	padding: 10px 10px 0;
}
.gen-tabs-style-f .tabs li {
	margin-right: 4px;
}
.gen-tabs-style-f .tabs a {
	border:none;
	border-radius: 2px 2px 0 0;
	font-size:1.1666em; /*14px*/
	line-height: 2.8571em; /*40px*/
}
.gen-tabs-style-f .tabs a:hover,
.gen-tabs-style-f .tabs a:focus,
.gen-tabs-style-f .tabs a.current {
}

/* Accordion */
.gen-tabs-style-f .acctab { border-radius: 2px; }

/* Panels */
.gen-tabs-style-f .tabs-panels { padding: 15px; }
.gen-tabs-style-f.accor .tabs-panels { padding: 0; background-color: transparent; }


/* Header of the Related Products block - style similar to tabs
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.block-related .section-title { font-size:1.1666em; /*14px*/ }
.box-additional .block-related .section-title {
	/* Similar style as tabs on product page */
	padding: 5px 10px;
	font-size:1.1666em; /*14px*/
	line-height: 2.8571em; /*40px*/
	border: none;
}

/* Slider arrows position */
.box-additional .block-related .direction-nav {
	top: -40px;
	right: 10px;
}
/* Color of arrows */
.box-additional .block-related .direction-nav a { background-color: #fff; }
.box-additional .block-related .direction-nav a:hover { background-color: #000; }
.box-additional .block-related .direction-nav .disabled:hover { background-color: #fff; }





/* Product sliders %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Align center */
.itemslider .products-grid > li { text-align: center; }
.itemslider .products-grid .ratings .rating-box,
.itemslider .products-grid .btn-cart { margin-left: 0; margin-right: 0; }
.itemslider .products-grid .ratings { display: inline-block; }
.itemslider .products-grid .ratings .amount { display: none; }




/* Icons %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* TODO: prototype */
span.icon.TEST {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin-left: -51px;
    text-align: center;
	/*font-family: 'open sans;*/
}
