/**
 * Override modules
 */



/* Megamenu %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Nav container sizes and positionning
   (stretched or with side margin)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
#nav {
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	width: 96%;
}
.vertnav-top {
	margin-bottom: 1%;
}

/* Common */
/* Add top margin for grid unit element of the same value as left and right margin of the grid unit,
   and remove margin if stretched */

/* Nav */
.nav > .grid-full { margin-top:1%; }

/* Nav - stretched */
.nav.stretched > .grid-full { margin-top:0; }
.nav.stretched > #nav {
	width: 98% !important;
}
.nav.stretched > #mobnav,
.nav.stretched > .vertnav-top {
	width: 100% !important;
}

.nav.has-bg { margin-top: 1%; } /*new*/


/* Drop-down menu
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.nav,
#nav {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#nav > li {
	padding-left:0;
	padding-right:4px;
}
#nav > li > a {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 0 10px;

	/* Top-level items - disable transitions */
	transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none;
}
#nav > li > a > span {
	padding: 7px 0 0;
}

/* Hover/active item
-------------------------------------------------------------- */
/* Hover */
#nav > li:hover > a {
	position: relative;
	z-index: 1;
}
/* Active */
#nav > li.active > a,
.cms-index-index #nav #nav-home > a {
}
/* Hover + active */
#nav > li:hover  > a > span,
#nav > li.active > a > span,
.cms-index-index #nav #nav-home > a > span {
	padding-top: 13px;
}

/* li - hover + active */
#nav > li:hover,
#nav > li.active,
.cms-index-index #nav #nav-home {
}


/* Other elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Category labels */
li.level0 > a > span > .cat-label { top: -22px; }
li.level0:hover  > a > span > .cat-label,
li.level0.active > a > span > .cat-label { top: -17px; }
/* 2nd-level only */
li.level2 > a > span > .cat-label {
	float: left;
	margin-left: 0;
	margin-right: 3px;
}

/* Home link icon
-------------------------------------------------------------- */
#nav a.level-top .icon {
	padding: 3px; /* Reset default padding */
	margin-top: -3px;
	margin-right: -3px; /* TODO: if icon without any text */
	margin-left: -6px;
}
#nav > li:hover a.level-top .icon,
.cms-index-index #nav #nav-home > a > .icon		/* #nav > li.active a.level-top .icon, */
{
	padding: 3px !important;
	margin-top: 2px;
}

/* If item contains icon without any text */
#nav a.level-top.only-icon .icon { margin-right: -6px; }


/* Size, height etc.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Main menu - horizontal
-------------------------------------------------------------- */
/* Top-level item */
#nav > li > a
{
	line-height: 14px; /* Default height, has to be fixed */
	height: 40px;
}

/* Drop-down box position relative to menu bar */
#nav .level0-wrapper
/* , #nav.classic ul */
{
	top:100%;
}

/* Home link
-------------------------------------------------------------- */
#nav a.level-top.feature {
	height:40px;
	position:static; /* Fix: icon scrolling if 2-color icon */
}




/* Slideshow %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.the-slideshow .slides > li a img {
	transition: none;
	-moz-transition: none;
	-webkit-transition:	none;
	-o-transition: none;
}
.the-slideshow:hover .slides > li a img {
	opacity:1;
	filter:alpha(opacity=100);
}




/* Slideshow %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#colorbox #cboxNext { left: 41px; /* Add 1px gap between buttons/arrows */ }